@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Almendra:400,700,400italic,700italic|Metamorphous);
/* • "Nerd" Theme
// h1–h3
$font-family-top-level      : $font-stack-consolas;
// h4–h6
$font-family-mid-level      : $font-stack-corbel;
// non-heading text
$font-family-bottom-level   : $font-stack-segoe;
//*/
/*// • Ink-ish
$font-size-h6               :  $font-size-base;
$font-size-h5               : ($font-size-base * 1.1);
$font-size-h4               : ($font-size-base * 1.25);
$font-size-h3               : ($font-size-base * 1.50);
$font-size-h2               : ($font-size-base * 1.75);
$font-size-h1               : ($font-size-base * 2.2);
//*/
/*// • Golden Ratio
       TODO?: Golden ratio heading sizes
//*/
.no-border {
  border: none !important;
  box-shadow: none !important;
}

.center-text {
  text-align: center !important;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
u, center,
dl, dt, dd, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul {
  list-style: none;
}

blockquote {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  width: 100%;
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

body {
  width: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

input, select, textarea,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none !important;
}

*:focus {
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

*::-moz-focus-inner {
  border: none !important;
  padding: 0 !important;
}

big {
  font-size: 142.857%;
}

small {
  font-size: 70%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

body, #arcane, .arcane {
  background-color: black;
  color: white;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.6);
  font-family: Candara, Optima, Optima Regular, Gill Sans, Lato, Gill Sans MT, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  line-height: 1.1;
  margin-top: 1em;
  margin-bottom: 0.5em;
}
*:not(a) > .h1:first-child, *:not(a) > .h2:first-child, *:not(a) > .h3:first-child, *:not(a) > .h4:first-child, *:not(a) > .h5:first-child, *:not(a) > .h6:first-child, *:not(a) > h1:first-child, *:not(a) > h2:first-child, *:not(a) > h3:first-child, *:not(a) > h4:first-child, *:not(a) > h5:first-child, *:not(a) > h6:first-child {
  margin-top: 0.25em;
}

.h1, .h2, .h3, h1, h2, h3 {
  font-family: Metamorphous, Avdira, Nogard, Dragon Text;
}

.h4, .h5, .h6, h4, h5, h6 {
  font-family: Almendra, Dragon Text, Nogard, Constantia, Georgia, Liberation Serif, Times New Roman, serif;
}

.h1, h1 {
  font-size: 36px;
}

.h2, h2 {
  font-size: 30px;
}

.h3, h3 {
  font-size: 24px;
}

.h4, h4 {
  font-size: 20px;
}

.h5, h5 {
  font-size: 18px;
}

.h6, h6 {
  font-size: 16px;
}

p, blockquote {
  margin: 0.5em 0;
}
p:first-child, blockquote:first-child {
  margin-top: 0;
}
p:last-child, blockquote:last-child {
  margin-bottom: 0;
}

blockquote {
  padding-left: 1.75em;
  font-size: calc(1em + 2px);
  font-style: italic;
  letter-spacing: -1px;
  position: relative;
}
blockquote::before {
  content: "“";
  font-family: Georgia, serif;
  font-size: 3em;
  font-style: normal;
  opacity: 0.6;
  line-height: 0;
  display: inline-block;
  width: 0.5833333333333333em;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 0.04em;
  padding-top: 0.5208333333333333em;
}
blockquote cite {
  display: block;
  font-size: calc(1em - 2px);
  font-style: normal;
  letter-spacing: 0;
  font-weight: bold;
}
blockquote cite::before {
  content: "―";
}

hr {
  width: 85%;
  background: none;
  border: 1px solid white;
  border-radius: 2px;
  border-color: white;
  box-shadow: inset 0 0 3px 1px rgba(255, 255, 255, 0.6), 0 0 3px 1px rgba(255, 255, 255, 0.6);
  margin: 1em auto;
}

ul.bullae {
  padding-left: 1em;
}
ul.bullae > li::before {
  content: "•";
  position: relative;
  right: 1em;
  display: inline-block;
  width: 0;
}

a {
  transition: transform 0.25s, color 0.25s, opacity 0.25s, border 0.25s, text-shadow 0.25s, box-shadow 0.25s;
}
a::before, a::after {
  transition: transform 0.25s, color 0.25s, opacity 0.25s, border 0.25s, text-shadow 0.25s, box-shadow 0.25s;
}

a:not(.boton) {
  color: gold;
  text-shadow: 0 0 2px rgba(255, 215, 0, 0.6);
  text-decoration: none;
  position: relative;
}
a:not(.boton).box {
  background: none;
  border: 1px solid gold;
  border-radius: 2px;
  color: gold;
  text-shadow: 0 0 2px rgba(255, 215, 0, 0.6);
}
a:not(.boton):hover, a:not(.boton):focus {
  color: #ffef99;
  text-shadow: 0 0 3px gold;
}
a:not(.boton):hover.box, a:not(.boton):focus.box {
  border-color: #ffef99;
  box-shadow: inset 0 0 3px 1px rgba(255, 215, 0, 0.6), 0 0 3px 1px rgba(255, 215, 0, 0.6);
}
a:not(.boton):active {
  color: white;
  text-shadow: 0 0 4px gold, 0 0 4px rgba(255, 215, 0, 0.7);
}
a:not(.boton):active.box {
  border-color: white;
  box-shadow: inset 0 0 4px 1px gold, 0 0 4px 1px gold;
}
a:not(.boton):not(.box)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: none;
  border: 1px solid gold;
  border-radius: 2px;
  opacity: 0;
}
a:not(.boton):not(.box):focus:not(:active)::after {
  content: "";
  border-color: #ffef99;
  box-shadow: inset 0 0 3px 1px rgba(255, 215, 0, 0.6), 0 0 3px 1px rgba(255, 215, 0, 0.6);
  opacity: 1;
}

a:not(.boton):not(.box) > img {
  background: none;
  border: 1px solid gold;
  border-radius: 2px;
}
a:not(.boton):not(.box) > img:hover, a:not(.boton):not(.box) > img:focus {
  border-color: #ffef99;
  box-shadow: inset 0 0 3px 1px rgba(255, 215, 0, 0.6), 0 0 3px 1px rgba(255, 215, 0, 0.6);
}
a:not(.boton):not(.box) > img:active {
  border-color: white;
  box-shadow: inset 0 0 4px 1px gold, 0 0 4px 1px gold;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.boton {
  transition: transform 0.25s, color 0.25s, opacity 0.25s, border 0.25s, text-shadow 0.25s, box-shadow 0.25s;
  color: #3060ff;
  text-shadow: 0 0 2px rgba(48, 96, 255, 0.6);
  background: none;
  border: 2px solid #3060ff;
  border-radius: 4px;
  padding: 3px 6px;
}
button > .power-words,
input[type="button"] > .power-words,
input[type="reset"] > .power-words,
input[type="submit"] > .power-words,
.boton > .power-words {
  transition: transform 0.25s, color 0.25s, opacity 0.25s, border 0.25s, text-shadow 0.25s, box-shadow 0.25s;
  display: inline-block;
  font-family: Almendra, Dragon Text, Nogard, Constantia, Georgia, Liberation Serif, Times New Roman, serif;
}
button[disabled] > .power-words,
input[type="button"][disabled] > .power-words,
input[type="reset"][disabled] > .power-words,
input[type="submit"][disabled] > .power-words,
.boton[disabled] > .power-words {
  opacity: 0.6;
}
button:hover:not([disabled]), button:focus:not([disabled]),
input[type="button"]:hover:not([disabled]),
input[type="button"]:focus:not([disabled]),
input[type="reset"]:hover:not([disabled]),
input[type="reset"]:focus:not([disabled]),
input[type="submit"]:hover:not([disabled]),
input[type="submit"]:focus:not([disabled]),
.boton:hover:not([disabled]),
.boton:focus:not([disabled]) {
  color: #acbfff;
  text-shadow: 0 0 3px #3060ff;
  border-color: #acbfff;
  box-shadow: inset 0 0 3px 1px rgba(48, 96, 255, 0.6), 0 0 3px 1px rgba(48, 96, 255, 0.6);
}
button:hover:not([disabled]) > .power-words, button:focus:not([disabled]) > .power-words,
input[type="button"]:hover:not([disabled]) > .power-words,
input[type="button"]:focus:not([disabled]) > .power-words,
input[type="reset"]:hover:not([disabled]) > .power-words,
input[type="reset"]:focus:not([disabled]) > .power-words,
input[type="submit"]:hover:not([disabled]) > .power-words,
input[type="submit"]:focus:not([disabled]) > .power-words,
.boton:hover:not([disabled]) > .power-words,
.boton:focus:not([disabled]) > .power-words {
  transform: scale(1.15, 1.15);
}
button:hover[disabled] > .power-words, button:focus[disabled] > .power-words,
input[type="button"]:hover[disabled] > .power-words,
input[type="button"]:focus[disabled] > .power-words,
input[type="reset"]:hover[disabled] > .power-words,
input[type="reset"]:focus[disabled] > .power-words,
input[type="submit"]:hover[disabled] > .power-words,
input[type="submit"]:focus[disabled] > .power-words,
.boton:hover[disabled] > .power-words,
.boton:focus[disabled] > .power-words {
  opacity: 0.3;
  transform: scale(0.8, 0.8);
}
button:active:not([disabled]),
input[type="button"]:active:not([disabled]),
input[type="reset"]:active:not([disabled]),
input[type="submit"]:active:not([disabled]),
.boton:active:not([disabled]) {
  color: white;
  text-shadow: 0 0 4px #3060ff, 0 0 4px rgba(48, 96, 255, 0.7);
  border-color: white;
  box-shadow: inset 0 0 4px 1px #3060ff, 0 0 4px 1px #3060ff;
  padding: 3px 6px;
}
button:active:not([disabled]) > .power-words,
input[type="button"]:active:not([disabled]) > .power-words,
input[type="reset"]:active:not([disabled]) > .power-words,
input[type="submit"]:active:not([disabled]) > .power-words,
.boton:active:not([disabled]) > .power-words {
  transform: scale(1.25, 1.25);
}
button.selected:not([disabled]),
input[type="button"].selected:not([disabled]),
input[type="reset"].selected:not([disabled]),
input[type="submit"].selected:not([disabled]),
.boton.selected:not([disabled]) {
  color: white;
  text-shadow: 0 0 4px #3060ff, 0 0 4px rgba(48, 96, 255, 0.7);
}
button.selected:not([disabled]) > .power-words,
input[type="button"].selected:not([disabled]) > .power-words,
input[type="reset"].selected:not([disabled]) > .power-words,
input[type="submit"].selected:not([disabled]) > .power-words,
.boton.selected:not([disabled]) > .power-words {
  transform: scale(1.25, 1.25);
}

form label {
  transition: transform 0.25s, color 0.25s, opacity 0.25s, border 0.25s, text-shadow 0.25s, box-shadow 0.25s;
  color: rgba(255, 255, 255, 0.85);
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.51);
}

form label.label-focus {
  color: white;
  text-shadow: 0 0 3px white;
}

textarea,
select,
input:not([type="submit"]):not([type="reset"]):not([type="radio"]):not([type="checkbox"]):not([type="button"]):not([type="color"]):not([type="range"]) {
  transition: transform 0.25s, color 0.25s, opacity 0.25s, border 0.25s, text-shadow 0.25s, box-shadow 0.25s;
  color: rgba(255, 255, 255, 0.85);
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.51);
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.85);
  border-radius: 2px;
  padding: 3px;
}
textarea.has-error,
select.has-error,
input:not([type="submit"]):not([type="reset"]):not([type="radio"]):not([type="checkbox"]):not([type="button"]):not([type="color"]):not([type="range"]).has-error {
  background: none;
  border: 1px solid red;
  border-radius: 2px;
}
textarea:focus:not([readonly]), textarea.focus,
select:focus:not([readonly]),
select.focus,
input:not([type="submit"]):not([type="reset"]):not([type="radio"]):not([type="checkbox"]):not([type="button"]):not([type="color"]):not([type="range"]):focus:not([readonly]),
input:not([type="submit"]):not([type="reset"]):not([type="radio"]):not([type="checkbox"]):not([type="button"]):not([type="color"]):not([type="range"]).focus {
  color: white;
  text-shadow: 0 0 3px white;
  border-color: white;
  box-shadow: inset 0 0 4px 1px white, 0 0 4px 1px white;
}
textarea:focus:not([readonly]).has-error, textarea.focus.has-error,
select:focus:not([readonly]).has-error,
select.focus.has-error,
input:not([type="submit"]):not([type="reset"]):not([type="radio"]):not([type="checkbox"]):not([type="button"]):not([type="color"]):not([type="range"]):focus:not([readonly]).has-error,
input:not([type="submit"]):not([type="reset"]):not([type="radio"]):not([type="checkbox"]):not([type="button"]):not([type="color"]):not([type="range"]).focus.has-error {
  border-color: red;
  box-shadow: inset 0 0 4px 1px red, 0 0 4px 1px red;
}
textarea[readonly],
select[readonly],
input:not([type="submit"]):not([type="reset"]):not([type="radio"]):not([type="checkbox"]):not([type="button"]):not([type="color"]):not([type="range"])[readonly] {
  background: none;
  border: 1px solid white;
  border-radius: 2px;
  border-color: white;
  box-shadow: inset 0 0 3px 1px rgba(255, 255, 255, 0.6), 0 0 3px 1px rgba(255, 255, 255, 0.6);
}

select, option {
  background: none;
}

.portal {
  transition: transform 0.25s, color 0.25s, opacity 0.25s, border 0.25s, text-shadow 0.25s, box-shadow 0.25s;
  background: black;
}
.portal::before, .portal::after {
  transition: transform 0.25s, color 0.25s, opacity 0.25s, border 0.25s, text-shadow 0.25s, box-shadow 0.25s;
}

.portal, .portal::before, .portal::after {
  border-radius: 6px;
  border: 1px solid white;
}

.portal {
  border-color: white;
  box-shadow: inset 0 0 24px 1px white, 0 0 4px 2px white;
  padding: 10px;
  position: relative;
}

.portal::before, .portal::after {
  content: "";
  position: absolute;
  animation-name: portal-ring-loop;
  animation-duration: 0.75s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  pointer-events: none;
}

.portal::before {
  animation-delay: -0.375s;
}

.box {
  padding: 6px;
  background: none;
  border: 1px solid white;
  border-radius: 2px;
  color: white;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.6);
}

@keyframes portal-ring-loop {
  0% {
    width: calc(100% - 0px);
    height: calc(100% - 0px);
    top: 0;
    left: 0;
    box-shadow: inset 0 0 3px 1px white, 0 0 3px 1px white;
    opacity: 1;
  }
  50% {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    top: 5px;
    left: 5px;
    box-shadow: inset 0 0 1.5px 0.5px white, 0 0 1.5px 0.5px white;
    opacity: 0.5;
  }
  100% {
    width: calc(100% - 22px);
    height: calc(100% - 22px);
    top: 11px;
    left: 11px;
    box-shadow: inset 0 0 0 0 white, 0 0 0 0 white;
    opacity: 0;
  }
}
.form-widget {
  width: 100%;
}

/* Spin buttons via external DOM elements
fieldset.input-type-number
{
    input[type="number"]
    {
        // padding-right: 18px !important;
    }
    
    .spin-block
    {
        // margin-left: -10px;
        display: inline-block;
        // position: relative;
        // top: 5px;
        // left: -20px;
    }
    button.spin, .spin.boton
    {
        border: none;
        @include glow-idle-text($form-color);
        padding: 0;
        margin: 0;
        line-height: 0;
        
        cursor: default;
        
        &:first-child
        {
            padding-bottom: 5px;
        }
        &:last-child
        {
            padding-top: 5px;
        }
        
        i
        {
            @include glow-idle-text($form-color);
            line-height: 0;
        }
    }
}//*/
button.school-white,
input[type="button"].school-white,
input[type="reset"].school-white,
input[type="submit"].school-white,
.boton.school-white {
  color: white;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.6);
  background: none;
  border: 2px solid white;
  border-radius: 4px;
}
button.school-white > .power-words,
input[type="button"].school-white > .power-words,
input[type="reset"].school-white > .power-words,
input[type="submit"].school-white > .power-words,
.boton.school-white > .power-words {
  color: white;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.6);
}
button.school-white:hover:not([disabled]), button.school-white:focus:not([disabled]),
input[type="button"].school-white:hover:not([disabled]),
input[type="button"].school-white:focus:not([disabled]),
input[type="reset"].school-white:hover:not([disabled]),
input[type="reset"].school-white:focus:not([disabled]),
input[type="submit"].school-white:hover:not([disabled]),
input[type="submit"].school-white:focus:not([disabled]),
.boton.school-white:hover:not([disabled]),
.boton.school-white:focus:not([disabled]) {
  border-color: white;
  box-shadow: inset 0 0 3px 1px rgba(255, 255, 255, 0.6), 0 0 3px 1px rgba(255, 255, 255, 0.6);
  color: white;
  text-shadow: 0 0 3px white;
}
button.school-white:active:not([disabled]),
input[type="button"].school-white:active:not([disabled]),
input[type="reset"].school-white:active:not([disabled]),
input[type="submit"].school-white:active:not([disabled]),
.boton.school-white:active:not([disabled]) {
  color: white;
  text-shadow: 0 0 4px white, 0 0 4px rgba(255, 255, 255, 0.7);
  border-color: white;
  box-shadow: inset 0 0 4px 1px white, 0 0 4px 1px white;
}
button.school-white.selected:not([disabled]),
input[type="button"].school-white.selected:not([disabled]),
input[type="reset"].school-white.selected:not([disabled]),
input[type="submit"].school-white.selected:not([disabled]),
.boton.school-white.selected:not([disabled]) {
  color: white;
  text-shadow: 0 0 4px white, 0 0 4px rgba(255, 255, 255, 0.7);
}
hr.school-white, .school-white > hr {
  background: none;
  border: 1px solid white;
  border-radius: 2px;
  border-color: white;
  box-shadow: inset 0 0 3px 1px rgba(255, 255, 255, 0.6), 0 0 3px 1px rgba(255, 255, 255, 0.6);
}
.school-white.box {
  background: none;
  border: 1px solid white;
  border-radius: 2px;
  color: white;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.6);
}
a.box.school-white {
  background: none;
  border: 1px solid white;
  border-radius: 2px;
  color: white;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.6);
}
a.box.school-white:hover, a.box.school-white:focus {
  color: white;
  text-shadow: 0 0 3px white;
  border-color: white;
  box-shadow: inset 0 0 3px 1px rgba(255, 255, 255, 0.6), 0 0 3px 1px rgba(255, 255, 255, 0.6);
}
a.box.school-white:active {
  color: white;
  text-shadow: 0 0 4px white, 0 0 4px rgba(255, 255, 255, 0.7);
  border-color: white;
  box-shadow: inset 0 0 4px 1px white, 0 0 4px 1px white;
}
.school-white.portal, .school-white.portal::before, .school-white.portal::after {
  border: 1px solid white;
}
.school-white.portal {
  border-color: white;
  box-shadow: inset 0 0 24px 1px white, 0 0 4px 2px white;
}
.school-white.portal::before, .school-white.portal::after {
  animation-name: portal-ring-loop-school-white;
}
@keyframes portal-ring-loop-school-white {
  0% {
    width: calc(100% - 0px);
    height: calc(100% - 0px);
    top: 0;
    left: 0;
    box-shadow: inset 0 0 3px 1px white, 0 0 3px 1px white;
    opacity: 1;
  }
  50% {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    top: 5px;
    left: 5px;
    box-shadow: inset 0 0 1.5px 0.5px white, 0 0 1.5px 0.5px white;
    opacity: 0.5;
  }
  100% {
    width: calc(100% - 22px);
    height: calc(100% - 22px);
    top: 11px;
    left: 11px;
    box-shadow: inset 0 0 0 0 white, 0 0 0 0 white;
    opacity: 0;
  }
}
button.school-blue,
input[type="button"].school-blue,
input[type="reset"].school-blue,
input[type="submit"].school-blue,
.boton.school-blue {
  color: #3060ff;
  text-shadow: 0 0 2px rgba(48, 96, 255, 0.6);
  background: none;
  border: 2px solid #3060ff;
  border-radius: 4px;
}
button.school-blue > .power-words,
input[type="button"].school-blue > .power-words,
input[type="reset"].school-blue > .power-words,
input[type="submit"].school-blue > .power-words,
.boton.school-blue > .power-words {
  color: #3060ff;
  text-shadow: 0 0 2px rgba(48, 96, 255, 0.6);
}
button.school-blue:hover:not([disabled]), button.school-blue:focus:not([disabled]),
input[type="button"].school-blue:hover:not([disabled]),
input[type="button"].school-blue:focus:not([disabled]),
input[type="reset"].school-blue:hover:not([disabled]),
input[type="reset"].school-blue:focus:not([disabled]),
input[type="submit"].school-blue:hover:not([disabled]),
input[type="submit"].school-blue:focus:not([disabled]),
.boton.school-blue:hover:not([disabled]),
.boton.school-blue:focus:not([disabled]) {
  border-color: #acbfff;
  box-shadow: inset 0 0 3px 1px rgba(48, 96, 255, 0.6), 0 0 3px 1px rgba(48, 96, 255, 0.6);
  color: #acbfff;
  text-shadow: 0 0 3px #3060ff;
}
button.school-blue:active:not([disabled]),
input[type="button"].school-blue:active:not([disabled]),
input[type="reset"].school-blue:active:not([disabled]),
input[type="submit"].school-blue:active:not([disabled]),
.boton.school-blue:active:not([disabled]) {
  color: white;
  text-shadow: 0 0 4px #3060ff, 0 0 4px rgba(48, 96, 255, 0.7);
  border-color: white;
  box-shadow: inset 0 0 4px 1px #3060ff, 0 0 4px 1px #3060ff;
}
button.school-blue.selected:not([disabled]),
input[type="button"].school-blue.selected:not([disabled]),
input[type="reset"].school-blue.selected:not([disabled]),
input[type="submit"].school-blue.selected:not([disabled]),
.boton.school-blue.selected:not([disabled]) {
  color: white;
  text-shadow: 0 0 4px #3060ff, 0 0 4px rgba(48, 96, 255, 0.7);
}
hr.school-blue, .school-blue > hr {
  background: none;
  border: 1px solid #3060ff;
  border-radius: 2px;
  border-color: #acbfff;
  box-shadow: inset 0 0 3px 1px rgba(48, 96, 255, 0.6), 0 0 3px 1px rgba(48, 96, 255, 0.6);
}
.school-blue.box {
  background: none;
  border: 1px solid #3060ff;
  border-radius: 2px;
  color: #3060ff;
  text-shadow: 0 0 2px rgba(48, 96, 255, 0.6);
}
a.box.school-blue {
  background: none;
  border: 1px solid #3060ff;
  border-radius: 2px;
  color: #3060ff;
  text-shadow: 0 0 2px rgba(48, 96, 255, 0.6);
}
a.box.school-blue:hover, a.box.school-blue:focus {
  color: #acbfff;
  text-shadow: 0 0 3px #3060ff;
  border-color: #acbfff;
  box-shadow: inset 0 0 3px 1px rgba(48, 96, 255, 0.6), 0 0 3px 1px rgba(48, 96, 255, 0.6);
}
a.box.school-blue:active {
  color: white;
  text-shadow: 0 0 4px #3060ff, 0 0 4px rgba(48, 96, 255, 0.7);
  border-color: white;
  box-shadow: inset 0 0 4px 1px #3060ff, 0 0 4px 1px #3060ff;
}
.school-blue.portal, .school-blue.portal::before, .school-blue.portal::after {
  border: 1px solid #3060FF;
}
.school-blue.portal {
  border-color: #5980ff;
  box-shadow: inset 0 0 24px 1px #3060ff, 0 0 4px 2px #3060ff;
}
.school-blue.portal::before, .school-blue.portal::after {
  animation-name: portal-ring-loop-school-blue;
}
@keyframes portal-ring-loop-school-blue {
  0% {
    width: calc(100% - 0px);
    height: calc(100% - 0px);
    top: 0;
    left: 0;
    box-shadow: inset 0 0 3px 1px #3060ff, 0 0 3px 1px #3060ff;
    opacity: 1;
  }
  50% {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    top: 5px;
    left: 5px;
    box-shadow: inset 0 0 1.5px 0.5px #3060ff, 0 0 1.5px 0.5px #3060ff;
    opacity: 0.5;
  }
  100% {
    width: calc(100% - 22px);
    height: calc(100% - 22px);
    top: 11px;
    left: 11px;
    box-shadow: inset 0 0 0 0 #3060ff, 0 0 0 0 #3060ff;
    opacity: 0;
  }
}
button.school-green,
input[type="button"].school-green,
input[type="reset"].school-green,
input[type="submit"].school-green,
.boton.school-green {
  color: green;
  text-shadow: 0 0 2px rgba(0, 128, 0, 0.6);
  background: none;
  border: 2px solid green;
  border-radius: 4px;
}
button.school-green > .power-words,
input[type="button"].school-green > .power-words,
input[type="reset"].school-green > .power-words,
input[type="submit"].school-green > .power-words,
.boton.school-green > .power-words {
  color: green;
  text-shadow: 0 0 2px rgba(0, 128, 0, 0.6);
}
button.school-green:hover:not([disabled]), button.school-green:focus:not([disabled]),
input[type="button"].school-green:hover:not([disabled]),
input[type="button"].school-green:focus:not([disabled]),
input[type="reset"].school-green:hover:not([disabled]),
input[type="reset"].school-green:focus:not([disabled]),
input[type="submit"].school-green:hover:not([disabled]),
input[type="submit"].school-green:focus:not([disabled]),
.boton.school-green:hover:not([disabled]),
.boton.school-green:focus:not([disabled]) {
  border-color: #99cc99;
  box-shadow: inset 0 0 3px 1px rgba(0, 128, 0, 0.6), 0 0 3px 1px rgba(0, 128, 0, 0.6);
  color: #99cc99;
  text-shadow: 0 0 3px green;
}
button.school-green:active:not([disabled]),
input[type="button"].school-green:active:not([disabled]),
input[type="reset"].school-green:active:not([disabled]),
input[type="submit"].school-green:active:not([disabled]),
.boton.school-green:active:not([disabled]) {
  color: white;
  text-shadow: 0 0 4px green, 0 0 4px rgba(0, 128, 0, 0.7);
  border-color: white;
  box-shadow: inset 0 0 4px 1px green, 0 0 4px 1px green;
}
button.school-green.selected:not([disabled]),
input[type="button"].school-green.selected:not([disabled]),
input[type="reset"].school-green.selected:not([disabled]),
input[type="submit"].school-green.selected:not([disabled]),
.boton.school-green.selected:not([disabled]) {
  color: white;
  text-shadow: 0 0 4px green, 0 0 4px rgba(0, 128, 0, 0.7);
}
hr.school-green, .school-green > hr {
  background: none;
  border: 1px solid green;
  border-radius: 2px;
  border-color: #99cc99;
  box-shadow: inset 0 0 3px 1px rgba(0, 128, 0, 0.6), 0 0 3px 1px rgba(0, 128, 0, 0.6);
}
.school-green.box {
  background: none;
  border: 1px solid green;
  border-radius: 2px;
  color: green;
  text-shadow: 0 0 2px rgba(0, 128, 0, 0.6);
}
a.box.school-green {
  background: none;
  border: 1px solid green;
  border-radius: 2px;
  color: green;
  text-shadow: 0 0 2px rgba(0, 128, 0, 0.6);
}
a.box.school-green:hover, a.box.school-green:focus {
  color: #99cc99;
  text-shadow: 0 0 3px green;
  border-color: #99cc99;
  box-shadow: inset 0 0 3px 1px rgba(0, 128, 0, 0.6), 0 0 3px 1px rgba(0, 128, 0, 0.6);
}
a.box.school-green:active {
  color: white;
  text-shadow: 0 0 4px green, 0 0 4px rgba(0, 128, 0, 0.7);
  border-color: white;
  box-shadow: inset 0 0 4px 1px green, 0 0 4px 1px green;
}
.school-green.portal, .school-green.portal::before, .school-green.portal::after {
  border: 1px solid green;
}
.school-green.portal {
  border-color: #339933;
  box-shadow: inset 0 0 24px 1px green, 0 0 4px 2px green;
}
.school-green.portal::before, .school-green.portal::after {
  animation-name: portal-ring-loop-school-green;
}
@keyframes portal-ring-loop-school-green {
  0% {
    width: calc(100% - 0px);
    height: calc(100% - 0px);
    top: 0;
    left: 0;
    box-shadow: inset 0 0 3px 1px green, 0 0 3px 1px green;
    opacity: 1;
  }
  50% {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    top: 5px;
    left: 5px;
    box-shadow: inset 0 0 1.5px 0.5px green, 0 0 1.5px 0.5px green;
    opacity: 0.5;
  }
  100% {
    width: calc(100% - 22px);
    height: calc(100% - 22px);
    top: 11px;
    left: 11px;
    box-shadow: inset 0 0 0 0 green, 0 0 0 0 green;
    opacity: 0;
  }
}
button.school-orange,
input[type="button"].school-orange,
input[type="reset"].school-orange,
input[type="submit"].school-orange,
.boton.school-orange {
  color: #ff9933;
  text-shadow: 0 0 2px rgba(255, 153, 51, 0.6);
  background: none;
  border: 2px solid #ff9933;
  border-radius: 4px;
}
button.school-orange > .power-words,
input[type="button"].school-orange > .power-words,
input[type="reset"].school-orange > .power-words,
input[type="submit"].school-orange > .power-words,
.boton.school-orange > .power-words {
  color: #ff9933;
  text-shadow: 0 0 2px rgba(255, 153, 51, 0.6);
}
button.school-orange:hover:not([disabled]), button.school-orange:focus:not([disabled]),
input[type="button"].school-orange:hover:not([disabled]),
input[type="button"].school-orange:focus:not([disabled]),
input[type="reset"].school-orange:hover:not([disabled]),
input[type="reset"].school-orange:focus:not([disabled]),
input[type="submit"].school-orange:hover:not([disabled]),
input[type="submit"].school-orange:focus:not([disabled]),
.boton.school-orange:hover:not([disabled]),
.boton.school-orange:focus:not([disabled]) {
  border-color: #ffd6ad;
  box-shadow: inset 0 0 3px 1px rgba(255, 153, 51, 0.6), 0 0 3px 1px rgba(255, 153, 51, 0.6);
  color: #ffd6ad;
  text-shadow: 0 0 3px #ff9933;
}
button.school-orange:active:not([disabled]),
input[type="button"].school-orange:active:not([disabled]),
input[type="reset"].school-orange:active:not([disabled]),
input[type="submit"].school-orange:active:not([disabled]),
.boton.school-orange:active:not([disabled]) {
  color: white;
  text-shadow: 0 0 4px #ff9933, 0 0 4px rgba(255, 153, 51, 0.7);
  border-color: white;
  box-shadow: inset 0 0 4px 1px #ff9933, 0 0 4px 1px #ff9933;
}
button.school-orange.selected:not([disabled]),
input[type="button"].school-orange.selected:not([disabled]),
input[type="reset"].school-orange.selected:not([disabled]),
input[type="submit"].school-orange.selected:not([disabled]),
.boton.school-orange.selected:not([disabled]) {
  color: white;
  text-shadow: 0 0 4px #ff9933, 0 0 4px rgba(255, 153, 51, 0.7);
}
hr.school-orange, .school-orange > hr {
  background: none;
  border: 1px solid #ff9933;
  border-radius: 2px;
  border-color: #ffd6ad;
  box-shadow: inset 0 0 3px 1px rgba(255, 153, 51, 0.6), 0 0 3px 1px rgba(255, 153, 51, 0.6);
}
.school-orange.box {
  background: none;
  border: 1px solid #ff9933;
  border-radius: 2px;
  color: #ff9933;
  text-shadow: 0 0 2px rgba(255, 153, 51, 0.6);
}
a.box.school-orange {
  background: none;
  border: 1px solid #ff9933;
  border-radius: 2px;
  color: #ff9933;
  text-shadow: 0 0 2px rgba(255, 153, 51, 0.6);
}
a.box.school-orange:hover, a.box.school-orange:focus {
  color: #ffd6ad;
  text-shadow: 0 0 3px #ff9933;
  border-color: #ffd6ad;
  box-shadow: inset 0 0 3px 1px rgba(255, 153, 51, 0.6), 0 0 3px 1px rgba(255, 153, 51, 0.6);
}
a.box.school-orange:active {
  color: white;
  text-shadow: 0 0 4px #ff9933, 0 0 4px rgba(255, 153, 51, 0.7);
  border-color: white;
  box-shadow: inset 0 0 4px 1px #ff9933, 0 0 4px 1px #ff9933;
}
.school-orange.portal, .school-orange.portal::before, .school-orange.portal::after {
  border: 1px solid #FF9933;
}
.school-orange.portal {
  border-color: #ffad5c;
  box-shadow: inset 0 0 24px 1px #ff9933, 0 0 4px 2px #ff9933;
}
.school-orange.portal::before, .school-orange.portal::after {
  animation-name: portal-ring-loop-school-orange;
}
@keyframes portal-ring-loop-school-orange {
  0% {
    width: calc(100% - 0px);
    height: calc(100% - 0px);
    top: 0;
    left: 0;
    box-shadow: inset 0 0 3px 1px #ff9933, 0 0 3px 1px #ff9933;
    opacity: 1;
  }
  50% {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    top: 5px;
    left: 5px;
    box-shadow: inset 0 0 1.5px 0.5px #ff9933, 0 0 1.5px 0.5px #ff9933;
    opacity: 0.5;
  }
  100% {
    width: calc(100% - 22px);
    height: calc(100% - 22px);
    top: 11px;
    left: 11px;
    box-shadow: inset 0 0 0 0 #ff9933, 0 0 0 0 #ff9933;
    opacity: 0;
  }
}
button.school-danger,
input[type="button"].school-danger,
input[type="reset"].school-danger,
input[type="submit"].school-danger,
.boton.school-danger {
  color: #ff6c00;
  text-shadow: 0 0 2px rgba(255, 108, 0, 0.6);
  background: none;
  border: 2px solid #ff6c00;
  border-radius: 4px;
}
button.school-danger > .power-words,
input[type="button"].school-danger > .power-words,
input[type="reset"].school-danger > .power-words,
input[type="submit"].school-danger > .power-words,
.boton.school-danger > .power-words {
  color: #ff6c00;
  text-shadow: 0 0 2px rgba(255, 108, 0, 0.6);
}
button.school-danger:hover:not([disabled]), button.school-danger:focus:not([disabled]),
input[type="button"].school-danger:hover:not([disabled]),
input[type="button"].school-danger:focus:not([disabled]),
input[type="reset"].school-danger:hover:not([disabled]),
input[type="reset"].school-danger:focus:not([disabled]),
input[type="submit"].school-danger:hover:not([disabled]),
input[type="submit"].school-danger:focus:not([disabled]),
.boton.school-danger:hover:not([disabled]),
.boton.school-danger:focus:not([disabled]) {
  border-color: #ffc499;
  box-shadow: inset 0 0 3px 1px rgba(255, 108, 0, 0.6), 0 0 3px 1px rgba(255, 108, 0, 0.6);
  color: #ffc499;
  text-shadow: 0 0 3px #ff6c00;
}
button.school-danger:active:not([disabled]),
input[type="button"].school-danger:active:not([disabled]),
input[type="reset"].school-danger:active:not([disabled]),
input[type="submit"].school-danger:active:not([disabled]),
.boton.school-danger:active:not([disabled]) {
  color: white;
  text-shadow: 0 0 4px #ff6c00, 0 0 4px rgba(255, 108, 0, 0.7);
  border-color: white;
  box-shadow: inset 0 0 4px 1px #ff6c00, 0 0 4px 1px #ff6c00;
}
button.school-danger.selected:not([disabled]),
input[type="button"].school-danger.selected:not([disabled]),
input[type="reset"].school-danger.selected:not([disabled]),
input[type="submit"].school-danger.selected:not([disabled]),
.boton.school-danger.selected:not([disabled]) {
  color: white;
  text-shadow: 0 0 4px #ff6c00, 0 0 4px rgba(255, 108, 0, 0.7);
}
hr.school-danger, .school-danger > hr {
  background: none;
  border: 1px solid #ff6c00;
  border-radius: 2px;
  border-color: #ffc499;
  box-shadow: inset 0 0 3px 1px rgba(255, 108, 0, 0.6), 0 0 3px 1px rgba(255, 108, 0, 0.6);
}
.school-danger.box {
  background: none;
  border: 1px solid #ff6c00;
  border-radius: 2px;
  color: #ff6c00;
  text-shadow: 0 0 2px rgba(255, 108, 0, 0.6);
}
a.box.school-danger {
  background: none;
  border: 1px solid #ff6c00;
  border-radius: 2px;
  color: #ff6c00;
  text-shadow: 0 0 2px rgba(255, 108, 0, 0.6);
}
a.box.school-danger:hover, a.box.school-danger:focus {
  color: #ffc499;
  text-shadow: 0 0 3px #ff6c00;
  border-color: #ffc499;
  box-shadow: inset 0 0 3px 1px rgba(255, 108, 0, 0.6), 0 0 3px 1px rgba(255, 108, 0, 0.6);
}
a.box.school-danger:active {
  color: white;
  text-shadow: 0 0 4px #ff6c00, 0 0 4px rgba(255, 108, 0, 0.7);
  border-color: white;
  box-shadow: inset 0 0 4px 1px #ff6c00, 0 0 4px 1px #ff6c00;
}
.school-danger.portal, .school-danger.portal::before, .school-danger.portal::after {
  border: 1px solid #FF6C00;
}
.school-danger.portal {
  border-color: #ff8933;
  box-shadow: inset 0 0 24px 1px #ff6c00, 0 0 4px 2px #ff6c00;
}
.school-danger.portal::before, .school-danger.portal::after {
  animation-name: portal-ring-loop-school-danger;
}
@keyframes portal-ring-loop-school-danger {
  0% {
    width: calc(100% - 0px);
    height: calc(100% - 0px);
    top: 0;
    left: 0;
    box-shadow: inset 0 0 3px 1px #ff6c00, 0 0 3px 1px #ff6c00;
    opacity: 1;
  }
  50% {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    top: 5px;
    left: 5px;
    box-shadow: inset 0 0 1.5px 0.5px #ff6c00, 0 0 1.5px 0.5px #ff6c00;
    opacity: 0.5;
  }
  100% {
    width: calc(100% - 22px);
    height: calc(100% - 22px);
    top: 11px;
    left: 11px;
    box-shadow: inset 0 0 0 0 #ff6c00, 0 0 0 0 #ff6c00;
    opacity: 0;
  }
}
button.school-nav,
input[type="button"].school-nav,
input[type="reset"].school-nav,
input[type="submit"].school-nav,
.boton.school-nav {
  color: white;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.6);
  background: none;
  border: 2px solid white;
  border-radius: 4px;
}
button.school-nav > .power-words,
input[type="button"].school-nav > .power-words,
input[type="reset"].school-nav > .power-words,
input[type="submit"].school-nav > .power-words,
.boton.school-nav > .power-words {
  color: white;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.6);
}
button.school-nav:hover:not([disabled]), button.school-nav:focus:not([disabled]),
input[type="button"].school-nav:hover:not([disabled]),
input[type="button"].school-nav:focus:not([disabled]),
input[type="reset"].school-nav:hover:not([disabled]),
input[type="reset"].school-nav:focus:not([disabled]),
input[type="submit"].school-nav:hover:not([disabled]),
input[type="submit"].school-nav:focus:not([disabled]),
.boton.school-nav:hover:not([disabled]),
.boton.school-nav:focus:not([disabled]) {
  border-color: white;
  box-shadow: inset 0 0 3px 1px rgba(255, 255, 255, 0.6), 0 0 3px 1px rgba(255, 255, 255, 0.6);
  color: white;
  text-shadow: 0 0 3px white;
}
button.school-nav:active:not([disabled]),
input[type="button"].school-nav:active:not([disabled]),
input[type="reset"].school-nav:active:not([disabled]),
input[type="submit"].school-nav:active:not([disabled]),
.boton.school-nav:active:not([disabled]) {
  color: white;
  text-shadow: 0 0 4px white, 0 0 4px rgba(255, 255, 255, 0.7);
  border-color: white;
  box-shadow: inset 0 0 4px 1px white, 0 0 4px 1px white;
}
button.school-nav.selected:not([disabled]),
input[type="button"].school-nav.selected:not([disabled]),
input[type="reset"].school-nav.selected:not([disabled]),
input[type="submit"].school-nav.selected:not([disabled]),
.boton.school-nav.selected:not([disabled]) {
  color: white;
  text-shadow: 0 0 4px white, 0 0 4px rgba(255, 255, 255, 0.7);
}
hr.school-nav, .school-nav > hr {
  background: none;
  border: 1px solid white;
  border-radius: 2px;
  border-color: white;
  box-shadow: inset 0 0 3px 1px rgba(255, 255, 255, 0.6), 0 0 3px 1px rgba(255, 255, 255, 0.6);
}
.school-nav.box {
  background: none;
  border: 1px solid white;
  border-radius: 2px;
  color: white;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.6);
}
a.box.school-nav {
  background: none;
  border: 1px solid white;
  border-radius: 2px;
  color: white;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.6);
}
a.box.school-nav:hover, a.box.school-nav:focus {
  color: white;
  text-shadow: 0 0 3px white;
  border-color: white;
  box-shadow: inset 0 0 3px 1px rgba(255, 255, 255, 0.6), 0 0 3px 1px rgba(255, 255, 255, 0.6);
}
a.box.school-nav:active {
  color: white;
  text-shadow: 0 0 4px white, 0 0 4px rgba(255, 255, 255, 0.7);
  border-color: white;
  box-shadow: inset 0 0 4px 1px white, 0 0 4px 1px white;
}
.school-nav.portal, .school-nav.portal::before, .school-nav.portal::after {
  border: 1px solid white;
}
.school-nav.portal {
  border-color: white;
  box-shadow: inset 0 0 24px 1px white, 0 0 4px 2px white;
}
.school-nav.portal::before, .school-nav.portal::after {
  animation-name: portal-ring-loop-school-nav;
}
@keyframes portal-ring-loop-school-nav {
  0% {
    width: calc(100% - 0px);
    height: calc(100% - 0px);
    top: 0;
    left: 0;
    box-shadow: inset 0 0 3px 1px white, 0 0 3px 1px white;
    opacity: 1;
  }
  50% {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    top: 5px;
    left: 5px;
    box-shadow: inset 0 0 1.5px 0.5px white, 0 0 1.5px 0.5px white;
    opacity: 0.5;
  }
  100% {
    width: calc(100% - 22px);
    height: calc(100% - 22px);
    top: 11px;
    left: 11px;
    box-shadow: inset 0 0 0 0 white, 0 0 0 0 white;
    opacity: 0;
  }
}
.school-alert-warn.box {
  background: none;
  border: 3px double #ff6c00;
  border-radius: 2px;
  border-color: #ff6c00;
  box-shadow: inset 0 0 4px 1px #ff6c00, 0 0 4px 1px #ff6c00;
  color: #FF6C00;
  color: #ff6c00;
  text-shadow: 0 0 4px #ff6c00, 0 0 4px rgba(255, 108, 0, 0.7);
}

.school-alert-error.box {
  background: none;
  border: 3px double red;
  border-radius: 2px;
  border-color: red;
  box-shadow: inset 0 0 4px 1px red, 0 0 4px 1px red;
  color: red;
  color: red;
  text-shadow: 0 0 4px red, 0 0 4px rgba(255, 0, 0, 0.7);
}
