@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Almendra:400,700,400italic,700italic|Metamorphous);
/* ΓÇó "Nerd" Theme
// h1ΓÇôh3
$font-family-top-level      : $font-stack-consolas;
// h4ΓÇôh6
$font-family-mid-level      : $font-stack-corbel;
// non-heading text
$font-family-bottom-level   : $font-stack-segoe;
//*/
/*// ΓÇó Ink-ish
$font-size-h6               :  $font-size-base;
$font-size-h5               : ($font-size-base * 1.1);
$font-size-h4               : ($font-size-base * 1.25);
$font-size-h3               : ($font-size-base * 1.50);
$font-size-h2               : ($font-size-base * 1.75);
$font-size-h1               : ($font-size-base * 2.2);
//*/
/*// ΓÇó Golden Ratio
       TODO?: Golden ratio heading sizes
//*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  width: 100%;
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

*, *::before, *::after {
  box-sizing: border-box;
}

input, select, textarea,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none !important;
}

*:focus {
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

*::-moz-focus-inner {
  border: none !important;
  padding: 0 !important;
}

big {
  font-size: 142.857%;
}

small {
  font-size: 70%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

button.flavor-danger,
input[type="button"].flavor-danger,
input[type="reset"].flavor-danger,
input[type="submit"].flavor-danger,
.button.flavor-danger {
  background: none;
  border: 1px solid #FF6C00;
  border-radius: 2px;
  border-width: 2px;
  padding: 3px 6px;
}
button.flavor-danger span, button.flavor-danger i,
input[type="button"].flavor-danger span,
input[type="button"].flavor-danger i,
input[type="reset"].flavor-danger span,
input[type="reset"].flavor-danger i,
input[type="submit"].flavor-danger span,
input[type="submit"].flavor-danger i,
.button.flavor-danger span,
.button.flavor-danger i {
  color: #FF6C00;
  text-shadow: 0 0 2px rgba(255, 108, 0, 0.6);
  display: inline-block;
}
button.flavor-danger span,
input[type="button"].flavor-danger span,
input[type="reset"].flavor-danger span,
input[type="submit"].flavor-danger span,
.button.flavor-danger span {
  font-family: Almendra, Constantia, Georgia, Liberation Serif, Times New Roman, serif;
}
button.flavor-danger:hover, button.flavor-danger:focus,
input[type="button"].flavor-danger:hover,
input[type="button"].flavor-danger:focus,
input[type="reset"].flavor-danger:hover,
input[type="reset"].flavor-danger:focus,
input[type="submit"].flavor-danger:hover,
input[type="submit"].flavor-danger:focus,
.button.flavor-danger:hover,
.button.flavor-danger:focus {
  border-color: #ffc499;
  box-shadow: inset 0 0 3px 1px rgba(255, 108, 0, 0.6), 0 0 3px 1px rgba(255, 108, 0, 0.6);
}
button.flavor-danger:hover span, button.flavor-danger:hover i, button.flavor-danger:focus span, button.flavor-danger:focus i,
input[type="button"].flavor-danger:hover span,
input[type="button"].flavor-danger:hover i,
input[type="button"].flavor-danger:focus span,
input[type="button"].flavor-danger:focus i,
input[type="reset"].flavor-danger:hover span,
input[type="reset"].flavor-danger:hover i,
input[type="reset"].flavor-danger:focus span,
input[type="reset"].flavor-danger:focus i,
input[type="submit"].flavor-danger:hover span,
input[type="submit"].flavor-danger:hover i,
input[type="submit"].flavor-danger:focus span,
input[type="submit"].flavor-danger:focus i,
.button.flavor-danger:hover span,
.button.flavor-danger:hover i,
.button.flavor-danger:focus span,
.button.flavor-danger:focus i {
  color: #ffc499;
  text-shadow: 0px 0px 3px #ff6c00;
  transform: scale(1.15, 1.15);
}
button.flavor-danger:active,
input[type="button"].flavor-danger:active,
input[type="reset"].flavor-danger:active,
input[type="submit"].flavor-danger:active,
.button.flavor-danger:active {
  border-color: white;
  box-shadow: inset 0 0 4px 1px #ff6c00, 0 0 4px 1px #ff6c00;
  padding: 3px 6px;
}
button.flavor-danger:active span, button.flavor-danger:active i,
input[type="button"].flavor-danger:active span,
input[type="button"].flavor-danger:active i,
input[type="reset"].flavor-danger:active span,
input[type="reset"].flavor-danger:active i,
input[type="submit"].flavor-danger:active span,
input[type="submit"].flavor-danger:active i,
.button.flavor-danger:active span,
.button.flavor-danger:active i {
  color: white;
  text-shadow: 0px 0px 4px #ff6c00, 0px 0px 4px rgba(255, 108, 0, 0.7);
  transform: scale(1.25, 1.25);
}
button.flavor-danger.selected span, button.flavor-danger.selected i,
input[type="button"].flavor-danger.selected span,
input[type="button"].flavor-danger.selected i,
input[type="reset"].flavor-danger.selected span,
input[type="reset"].flavor-danger.selected i,
input[type="submit"].flavor-danger.selected span,
input[type="submit"].flavor-danger.selected i,
.button.flavor-danger.selected span,
.button.flavor-danger.selected i {
  color: white;
  text-shadow: 0px 0px 4px #ff6c00, 0px 0px 4px rgba(255, 108, 0, 0.7);
  transform: scale(1.25, 1.25);
}

*, *::before, *::after {
  transition: all 0.25s;
}

body {
  background-color: black;
  color: white;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.6);
  font-family: Candara, Optima, Optima Regular, Optima Roman, "Optima LT W10 Roman", Gill Sans, Lato, Gill Sans MT, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  width: 100%;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  line-height: 1.1;
  margin-top: 1em;
  margin-bottom: 0.5em;
}
.h1:first-child, .h2:first-child, .h3:first-child, .h4:first-child, .h5:first-child, .h6:first-child, h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin-top: 0.25em;
}

.h1, .h2, .h3, h1, h2, h3 {
  font-family: Metamorphous, Avdira, Nogard, Dragon Text;
}

.h4, .h5, .h6, h4, h5, h6 {
  font-family: Almendra, Constantia, Georgia, Liberation Serif, Times New Roman, serif;
}

.h1, h1 {
  font-size: 36px;
}

.h2, h2 {
  font-size: 30px;
}

.h3, h3 {
  font-size: 24px;
}

.h4, h4 {
  font-size: 20px;
}

.h5, h5 {
  font-size: 18px;
}

.h6, h6 {
  font-size: 16px;
}

a {
  color: #FFD700;
  text-shadow: 0 0 2px rgba(255, 215, 0, 0.6);
  text-decoration: none;
  position: relative;
}
a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: none;
  border: 1px solid #FFD700;
  border-radius: 2px;
  opacity: 0;
}
a:hover, a:focus {
  color: #ffef99;
  text-shadow: 0px 0px 3px gold;
}
a:focus:not(.button)::after {
  content: "";
  border-color: #ffef99;
  box-shadow: inset 0 0 3px 1px rgba(255, 215, 0, 0.6), 0 0 3px 1px rgba(255, 215, 0, 0.6);
  opacity: 1;
}
a:active {
  color: white;
  text-shadow: 0px 0px 4px gold, 0px 0px 4px rgba(255, 215, 0, 0.7);
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
  background: none;
  border: 1px solid #3060FF;
  border-radius: 2px;
  border-width: 2px;
  padding: 3px 6px;
}
button span, button i,
input[type="button"] span,
input[type="button"] i,
input[type="reset"] span,
input[type="reset"] i,
input[type="submit"] span,
input[type="submit"] i,
.button span,
.button i {
  color: #3060FF;
  text-shadow: 0 0 2px rgba(48, 96, 255, 0.6);
  display: inline-block;
}
button span,
input[type="button"] span,
input[type="reset"] span,
input[type="submit"] span,
.button span {
  font-family: Almendra, Constantia, Georgia, Liberation Serif, Times New Roman, serif;
}
button:hover, button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus,
.button:hover,
.button:focus {
  border-color: #acbfff;
  box-shadow: inset 0 0 3px 1px rgba(48, 96, 255, 0.6), 0 0 3px 1px rgba(48, 96, 255, 0.6);
}
button:hover span, button:hover i, button:focus span, button:focus i,
input[type="button"]:hover span,
input[type="button"]:hover i,
input[type="button"]:focus span,
input[type="button"]:focus i,
input[type="reset"]:hover span,
input[type="reset"]:hover i,
input[type="reset"]:focus span,
input[type="reset"]:focus i,
input[type="submit"]:hover span,
input[type="submit"]:hover i,
input[type="submit"]:focus span,
input[type="submit"]:focus i,
.button:hover span,
.button:hover i,
.button:focus span,
.button:focus i {
  color: #acbfff;
  text-shadow: 0px 0px 3px #3060ff;
  transform: scale(1.15, 1.15);
}
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active,
.button:active {
  border-color: white;
  box-shadow: inset 0 0 4px 1px #3060ff, 0 0 4px 1px #3060ff;
  padding: 3px 6px;
}
button:active span, button:active i,
input[type="button"]:active span,
input[type="button"]:active i,
input[type="reset"]:active span,
input[type="reset"]:active i,
input[type="submit"]:active span,
input[type="submit"]:active i,
.button:active span,
.button:active i {
  color: white;
  text-shadow: 0px 0px 4px #3060ff, 0px 0px 4px rgba(48, 96, 255, 0.7);
  transform: scale(1.25, 1.25);
}
button.selected span, button.selected i,
input[type="button"].selected span,
input[type="button"].selected i,
input[type="reset"].selected span,
input[type="reset"].selected i,
input[type="submit"].selected span,
input[type="submit"].selected i,
.button.selected span,
.button.selected i {
  color: white;
  text-shadow: 0px 0px 4px #3060ff, 0px 0px 4px rgba(48, 96, 255, 0.7);
  transform: scale(1.25, 1.25);
}

.no-border {
  border: none !important;
  box-shadow: none !important;
}

label {
  color: #DDD;
  text-shadow: 0 0 2px rgba(221, 221, 221, 0.6);
}

label.label-focus {
  color: #f1f1f1;
  text-shadow: 0px 0px 3px #dddddd;
}

textarea,
input:not([type="submit"]):not([type="reset"]):not([type="radio"]):not([type="checkbox"]):not([type="button"]):not([type="color"]):not([type="range"]),
div.input-type-number {
  color: #DDD;
  text-shadow: 0 0 2px rgba(221, 221, 221, 0.6);
  background: none;
  border: 1px solid #DDD;
  border-radius: 2px;
  padding: 3px;
}
textarea.has-error,
input:not([type="submit"]):not([type="reset"]):not([type="radio"]):not([type="checkbox"]):not([type="button"]):not([type="color"]):not([type="range"]).has-error,
div.input-type-number.has-error {
  background: none;
  border: 1px solid red;
  border-radius: 2px;
}
textarea:focus:not([readonly]), textarea.focus,
input:not([type="submit"]):not([type="reset"]):not([type="radio"]):not([type="checkbox"]):not([type="button"]):not([type="color"]):not([type="range"]):focus:not([readonly]),
input:not([type="submit"]):not([type="reset"]):not([type="radio"]):not([type="checkbox"]):not([type="button"]):not([type="color"]):not([type="range"]).focus,
div.input-type-number:focus:not([readonly]),
div.input-type-number.focus {
  color: #f1f1f1;
  text-shadow: 0px 0px 3px #dddddd;
  border-color: white;
  box-shadow: inset 0 0 4px 1px #dddddd, 0 0 4px 1px #dddddd;
}
textarea:focus:not([readonly]).has-error, textarea.focus.has-error,
input:not([type="submit"]):not([type="reset"]):not([type="radio"]):not([type="checkbox"]):not([type="button"]):not([type="color"]):not([type="range"]):focus:not([readonly]).has-error,
input:not([type="submit"]):not([type="reset"]):not([type="radio"]):not([type="checkbox"]):not([type="button"]):not([type="color"]):not([type="range"]).focus.has-error,
div.input-type-number:focus:not([readonly]).has-error,
div.input-type-number.focus.has-error {
  border-color: red;
  box-shadow: inset 0 0 4px 1px red, 0 0 4px 1px red;
}
textarea[readonly],
input:not([type="submit"]):not([type="reset"]):not([type="radio"]):not([type="checkbox"]):not([type="button"]):not([type="color"]):not([type="range"])[readonly],
div.input-type-number[readonly] {
  background: none;
  border: 1px solid white;
  border-radius: 2px;
  border-color: white;
  box-shadow: inset 0 0 3px 1px rgba(255, 255, 255, 0.6), 0 0 3px 1px rgba(255, 255, 255, 0.6);
}

/* Spin buttons via external DOM elements
fieldset.input-type-number
{
    input[type="number"]
    {
        // padding-right: 18px !important;
    }
    
    .spin-block
    {
        // margin-left: -10px;
        display: inline-block;
        // position: relative;
        // top: 5px;
        // left: -20px;
    }
    button.spin, .spin.button
    {
        border: none;
        @include glow-idle-text($form-color);
        padding: 0;
        margin: 0;
        line-height: 0;
        
        cursor: default;
        
        &:first-child
        {
            padding-bottom: 5px;
        }
        &:last-child
        {
            padding-top: 5px;
        }
        
        i
        {
            @include glow-idle-text($form-color);
            line-height: 0;
        }
    }
}//*/
.box {
  padding: 6px;
}
.box.flavor-error {
  background: none;
  border: 1px solid red;
  border-radius: 2px;
  border-style: double;
  border-width: 3px;
  border-color: red;
  box-shadow: inset 0 0 4px 1px red, 0 0 4px 1px red;
  color: red;
  color: red;
  text-shadow: 0px 0px 4px red, 0px 0px 4px rgba(255, 0, 0, 0.7);
  padding: 6px;
  width: 100%;
}
.box.flavor-blue {
  background: none;
  border: 1px solid #3060FF;
  border-radius: 2px;
  color: #3060FF;
  text-shadow: 0 0 2px rgba(48, 96, 255, 0.6);
}
.box.flavor-white {
  background: none;
  border: 1px solid white;
  border-radius: 2px;
  color: white;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.6);
}

.form-widget {
  width: 100%;
}

.center-text {
  text-align: center;
}
