
@mixin define-flavor($color)
{
    @at-root button#{&},
    input[type="button"]#{&},
    input[type="reset"]#{&},
    input[type="submit"]#{&},
    .button#{&}
    {
        @include spell-box($color);
        border-width: 2px;
        
        padding: 3px 6px;
        
        span, i
        {
            //color: $color;
            @include glow-idle-text($color);
            display: inline-block;
            //transition: all 0.25s;
        }
        span
        {
            font-family: $font-stack-arcane-mid;
        }
        
        &[disabled]
        {
            span, i
            {
                opacity: 0.6
            }
        }
        &:hover, &:focus
        {
            &:not([disabled])
            {
                @include glow-mild-border($color);
                
                span, i
                {
                    @include glow-mild-text($color);
                    transform: scale(1.15, 1.15);
                }
            }
            &[disabled]
            {
                span, i
                {
                    opacity: 0.3;
                    transform: scale(0.8, 0.8);
                }
            }
        }
        
        &:active
        {
            @include glow-strong-border($color);
            
            padding: 3px 6px; // probably only necessary because of something bootstrap's doing...?
            
            span, i
            {
                @include glow-strong-text($color);
                transform: scale(1.25, 1.25);
            }
        }
        
        &.selected
        {
            span, i
            {
                @include glow-strong-text($color);
                transform: scale(1.25, 1.25);
            }
        }
    }
    
    &.box
    {
        @include spell-box($color);
        
        @include glow-idle-text($color);
    }
}
@mixin define-alert-flavor($color)
{
    @include define-flavor($color);
    
    &.box
    {
        border : 3px double;
        @include glow-strong-border($color, 0%);
        
        color: $color;
        @include glow-strong-text($color, 0%);
        //width: 100%;
    }
}

.flavor-white  { @include define-flavor(white); }
.flavor-blue   { @include define-flavor($blue); }
.flavor-green  { @include define-flavor(green); }

//.flavor-danger { @include define-flavor($danger-color); }
.flavor-danger { @include define-alert-flavor($danger-color); }
.flavor-error  { @include define-alert-flavor($error-color); }
/*.flavor-error
{
    @include define-flavor($error-color);
    
    &.box
    {
        border-style: double;
        border-width: 3px;
        @include glow-strong-border($error-color, 0%);
        
        color: $error-color;
        @include glow-strong-text($error-color, 0%);
        //width: 100%;
    }
}*/
