// Kyle Fiegener
// ©LOL copyright

// Returns a CSS string containing an rgba function call if $opacity != 1,
// otherwise just returns $color as a string.
// @function rgba-or-not($color, $opacity)
// {
//     @if $opacity != 1
//     {
//         @return #{rgba($color, $opacity)};
//     }
//     @else
//     {
//         @return #{$color}
//     }
// }

@mixin clearfix()
{
    &::before,
    &::after
    {
        content: " ";
        display: table;
    }
    &::after
    {
        clear: both;
    }
}

//@mixin list-style-none()
//{
//    padding-left: 0;
//    
//    > li::before
//    {
//        content: "";
//        
//        position: static;  // freaking IE
//        position: initial;
//        display: inline;   // freaking IE
//        display: initial;
//        right: auto;       // freaking IE
//        right: initial;
//        width: auto;       // freaking IE
//        width: initial;
//    }
//}

@mixin transition-anim($duration:$transition-duration)
{
    transition: transform        $duration,
                color            $duration,
                background-color $duration,
                opacity          $duration,
                border           $duration,
                text-shadow      $duration,
                box-shadow       $duration;
}
@mixin transition-anim-psuedo($duration:$transition-duration)
{
    @include transition-anim($duration);
    
    &::before, &::after
    {
        @include transition-anim($duration);
    }
}
@mixin transition-anim-size($duration:$transition-duration)
{
    transition: transform        $duration,
                color            $duration,
                background-color $duration,
                opacity          $duration,
                border           $duration,
                text-shadow      $duration,
                box-shadow       $duration,
                width            $duration,
                height           $duration;
}

@mixin text-shadow-uniform()
{
    
}

@mixin spell-box($color:$container-color, $border-width:1px, $border-radius:2px, $border-style:solid, $opacity:1)
{
    background: none;
    border: $border-width $border-style rgba($color, $opacity);
    border-radius: $border-radius;
}

@mixin glow-idle-text($color, $opacity:1)
{
    color: rgba($color, $opacity);
    text-shadow: 0 0 $glow-idle-text-blur rgba($color, $glow-idle-text-opacity * $opacity);
}
@mixin glow-mild-text($color, $white-percent:$glow-mild-white-percent, $opacity:1)
{
    color: rgba(tint($color, $white-percent), $opacity);
    text-shadow: 0 0 $glow-mild-text-blur rgba($color, $glow-mild-text-opacity * $opacity);
}
@mixin glow-strong-text($color, $white-percent:$glow-strong-white-percent, $opacity:1)
{
    color: rgba(tint($color, $white-percent), $opacity);
    text-shadow: 0 0 $glow-strong-text-blur rgba($color, $glow-strong-text-opacity1 * $opacity),
                 0 0 $glow-strong-text-blur rgba($color, $glow-strong-text-opacity2 * $opacity); // stack glows to make them stronger
}

@mixin glow-mild-border($color, $white-percent:$glow-mild-white-percent)
{
    border-color: tint($color, $white-percent);
    box-shadow: inset   0 0 $glow-mild-border-blur 1px rgba($color, $glow-mild-border-opacity),
             /*outset*/ 0 0 $glow-mild-border-blur 1px rgba($color, $glow-mild-border-opacity);
}
@mixin glow-strong-border($color, $white-percent:$glow-strong-white-percent)
{
    border-color: tint($color, $white-percent);
    box-shadow: inset   0 0 $glow-strong-border-blur 1px rgba($color, $glow-strong-border-opacity),
             /*outset*/ 0 0 $glow-strong-border-blur 1px rgba($color, $glow-strong-border-opacity);
}
