// Kyle Fiegener
// ©LOL copyright

@mixin text-shadow-uniform()
{
    
}

@mixin Im-just-a-box($color)
{
    background: none;
    border: 1px solid $color;
    border-radius: 2px;
}

@mixin glow-idle-text($color)
{
    color: $color;
    text-shadow: 0 0 $glow-idle-text-blur rgba($color, $glow-idle-text-opacity);
    // text-shadow: 1px 1px 1px  rgba($color, 0.3),
    //             -1px -1px 1px rgba($color, 0.3);
}
@mixin glow-mild-text($color, $white-percent: $glow-mild-white-percent)
{
    color: mix(white, $color, $white-percent);
    text-shadow: 0px 0px $glow-mild-text-blur rgba($color, $glow-mild-text-opacity);
    // text-shadow: 0px 0px $glow-mild-text-blur rgba(mix(white, $color, $white-percent), $glow-mild-text-opacity);
    
    // text-shadow: 1px  1px $glow-mild-text-blur rgba(mix(white, $color, $white-percent), $glow-mild-text-opacity),
    //             -1px -1px $glow-mild-text-blur rgba(mix(white, $color, $white-percent), $glow-mild-text-opacity);
}
@mixin glow-strong-text($color, $white-percent: $glow-strong-white-percent)
{
    color: mix(white, $color, $white-percent);
    text-shadow: 0px 0px $glow-strong-text-blur rgba($color, $glow-strong-text-opacity1),
                 0px 0px $glow-strong-text-blur rgba($color, $glow-strong-text-opacity2);
    // text-shadow: 0px 0px $glow-strong-text-blur rgba(mix(white, $color, $white-percent), $glow-strong-text-opacity1),
    //              0px 0px $glow-strong-text-blur rgba(mix(white, $color, $white-percent), $glow-strong-text-opacity2);
                 
    // text-shadow: 1px  1px $glow-strong-text-blur rgba(mix(white, $color, $white-percent), $glow-strong-text-opacity),
    //             -1px -1px $glow-strong-text-blur rgba(mix(white, $color, $white-percent), $glow-strong-text-opacity);
}

@mixin glow-mild-border($color, $white-percent: $glow-mild-white-percent)
{
    border-color: mix(white, $color, $white-percent);
    box-shadow: inset   0 0 $glow-mild-border-blur 1px rgba($color, $glow-mild-border-opacity),
             /*outset*/ 0 0 $glow-mild-border-blur 1px rgba($color, $glow-mild-border-opacity);
    // box-shadow: inset   0 0 $glow-mild-border-blur 1px rgba(mix(white, $color, $white-percent), $glow-mild-border-opacity),
    //          /*outset*/ 0 0 $glow-mild-border-blur 1px rgba(mix(white, $color, $white-percent), $glow-mild-border-opacity);
}
@mixin glow-strong-border($color, $white-percent: $glow-strong-white-percent)
{
    border-color: mix(white, $color, $white-percent);
    box-shadow: inset   0 0 $glow-strong-border-blur 1px rgba($color, $glow-strong-border-opacity),
             /*outset*/ 0 0 $glow-strong-border-blur 1px rgba($color, $glow-strong-border-opacity);
    // box-shadow: inset   0 0 $glow-strong-border-blur 1px rgba(mix(white, $color, $white-percent), $glow-strong-border-opacity),
    //          /*outset*/ 0 0 $glow-strong-border-blur 1px rgba(mix(white, $color, $white-percent), $glow-strong-border-opacity);
}

