// Kyle Fiegener
// ©LOL copyright

$blue                : #3060FF;

$danger-color        : #FF6C00;
$error-color         : red;

$text-color          : white;
$link-color          : #FFD700;
$bttn-color          : $blue;
$container-color     : $text-color;
//$portal-color        : #F0F;

// $form-color          : #DDD;
$form-color          : $text-color;
$form-opacity        : 0.85;

$nav-color           : $text-color;
$nav-opacity         : 0.75;

// FONT STACKS
                            // TODO: Find out which of these monospace fonts are in any way "fancy"
$font-stack-consolas        : Consolas, Monaco, Monofur, monospace;
$font-stack-corbel          : Corbel, Gill Sans, Lato, Gill Sans MT, Lucida Grande, Lucida Sans, Trebuchet MS, sans-serif;
$font-stack-segoe           : Segoe UI, Frutiger, DejaVu Sans, Helvetica Neue, Helvetica, Source Sans Pro, Open Sans, Calibri, Arial, sans-serif;
$font-stack-candara         : Candara, Optima, Optima Regular, Gill Sans, Lato, Gill Sans MT, sans-serif;

$font-stack-times-alt       : Constantia, Liberation Serif, Times New Roman, serif; // I dunno ++ TODO: MORE

// $font-stack-arcane-base     : Actor, (#{$font-stack-candara});
$font-stack-arcane-top      : Metamorphous, Avdira, Nogard, Dragon Text; // TODO: Add some common built-in fonts in case web fonts don't work
$font-stack-arcane-mid      : Almendra, Dragon Text, Nogard, Constantia, Georgia, Liberation Serif, Times New Roman, serif; // TODO: More nice built-in serif fonts
$font-stack-arcane-base     : $font-stack-candara;

$font-stack-monospace       : DejaVu Sans Mono, Consolas, Monaco, Liberation Mono, Lucida Console, Andale Mono, monospace;


// FONT FAMILIES (where font stacks are put to use)
// • Arcane Theme
// h1–h3
$font-family-top-level      : $font-stack-arcane-top;
// h4–h6
$font-family-mid-level      : $font-stack-arcane-mid;
// non-heading text
$font-family-bottom-level   : $font-stack-arcane-base;
//*/

/* • "Nerd" Theme
// h1–h3
$font-family-top-level      : $font-stack-consolas;
// h4–h6
$font-family-mid-level      : $font-stack-corbel;
// non-heading text
$font-family-bottom-level   : $font-stack-segoe;
//*/

$font-size-base             : 14px !default;

// HEADING SIZES
//// • Bootstrap-ish
$font-size-h6               : $font-size-base + 2;  // 16px
$font-size-h5               : $font-size-base + 4;  // 18px
$font-size-h4               : $font-size-base + 6;  // 20px
$font-size-h3               : $font-size-base + 10; // 24px
$font-size-h2               : $font-size-base + 16; // 30px
$font-size-h1               : $font-size-base + 22; // 36px
//*/

/*// • Ink-ish
$font-size-h6               :  $font-size-base;
$font-size-h5               : ($font-size-base * 1.1);
$font-size-h4               : ($font-size-base * 1.25);
$font-size-h3               : ($font-size-base * 1.50);
$font-size-h2               : ($font-size-base * 1.75);
$font-size-h1               : ($font-size-base * 2.2);
//*/

$line-height-computed       : 20px / $font-size-base;
// $scale-big                  : $line-height-computed * 100;
$scale-big                  : 142.857%;
$scale-small                : 70%;

/*// • Golden Ratio
       TODO?: Golden ratio heading sizes
//*/

$glow-idle-text-opacity     : 0.6;
$glow-idle-text-blur        : 2px;

$glow-mild-white-percent    : 60%;

$glow-mild-text-opacity     : 1.0;
$glow-mild-text-blur        : 3px;

$glow-mild-border-opacity   : 0.6;
$glow-mild-border-blur      : 3px;

$glow-strong-white-percent  : 100%;

$glow-strong-text-opacity1  : 1.0;
$glow-strong-text-opacity2  : 0.7;
$glow-strong-text-blur      : 4px;

$glow-strong-border-opacity : 1.0;
$glow-strong-border-blur    : 4px;

$portal-ring-loop-duration  : 0.75s;
$portal-ring-spacing        : 12px;
$glow-portal-white-percent  : 20%;
$portal-bg-properties       : black;

$box-padding                : 6px;

$transition-duration        : 0.25s;
