// Kyle Fiegener
// ©LOL copyright

$text-color:            white;
$link-color:            #FFFF40;
$bttn-color:            blue;
$form-color:            #DDD;

$error-color:           red;

// FONT STACKS
                            // TODO: Find out which of these monospace fonts are in any way "fancy"
$font-stack-consolas        : Consolas, DejaVu Sans Mono, Bitstream Vera Sans Mono, Monaco, Liberation Mono, Lucida Console, Andale Mono, monospace;
$font-stack-corbel          : Corbel, Gill Sans, Lato, Gill Sans MT, Lucida Grande, Lucida Sans, Trebuchet MS, sans-serif;
$font-stack-segoe           : Segoe UI, Frutiger, DejaVu Sans, Helvetica Neue, Helvetica, Source Sans Pro, Open Sans, Arial, sans-serif;
$font-stack-candara         : Candara, Optima, Optima Regular, Optima Roman, "Optima LT W10 Roman", Gill Sans, Lato, Gill Sans MT, sans-serif;
                            // + Average Sans? https://www.google.com/fonts/specimen/Average+Sans  NO BUILT-IN BOLD OR ITALIC
                            // + <link href='https://fonts.googleapis.com/css?family=Actor' rel='stylesheet' type='text/css'>  NO BUILT-IN BOLD OR ITALIC
$font-stack-times-alt       : Constantia, Liberation Serif, Times New Roman, serif; // I dunno ++ TODO: MORE

$font-stack-arcane-body     : $font-stack-candara; // TODO: one killer google font?
$font-stack-arcane-hmid     : Port Lligat Sans, Port Lligat Serif, Constantia, Times New Roman, serif; // TODO: More nice serif fonts / one killer google font
$font-stack-arcane-htop     : Avdira, Nogard, Dragon Text; // TODO: A decent google font

$font-stack-monospace       : DejaVu Sans Mono, Monaco, Consolas, Liberation Mono, Lucida Console, Andale Mono, monospace;
/* Good-ish:
 * Actor 15px / Port Lligat Sans 17px, line-height 18px
 * Actor 15px / Port Lligat Sans 17px, line-height 20px
 * Actor 15px / Oldenburg 15px, line-height 20(18?)px
 * Martel Sans 15px / Oldenburg 16px, line-height: 20(18?)px
 */

// FONT FAMILIES (where font stacks are put to use)
// • "Nerd" Theme
// h1–h3
$font-family-top-level      : $font-stack-consolas;
// h4–h6
$font-family-mid-level      : $font-stack-corbel;
// non-heading text
$font-family-bottom-level   : $font-stack-segoe;
//*/

/* • Arcane Theme
// h1–h3
$font-family-top-level      : $font-stack-arcane-htop;
// h4–h6
$font-family-mid-level      : $font-stack-arcane-hmid;
// non-heading text
$font-family-bottom-level   : $font-stack-arcane-body;
//*/

$font-size-base             : 14px;

// HEADING SIZES
// • Bootstrap-ish
$font-size-h6               : $font-size-base;      // 14px
$font-size-h5               : $font-size-base + 2;  // 16px
$font-size-h4               : $font-size-base + 4;  // 18px
$font-size-h3               : $font-size-base + 10; // 24px
$font-size-h2               : $font-size-base + 16; // 30px
$font-size-h1               : $font-size-base + 22; // 36px
//*/

/* • Golden Ratio
    TODO: Golden ratio heading sizes
//*/

$glow-idle-text-opacity     : 0.6;
$glow-idle-text-blur        : 1px;

$glow-mild-white-percent    : 40%;

$glow-mild-text-opacity     : 0.8;
$glow-mild-text-blur        : 2px;

$glow-mild-border-opacity   : 0.4;
$glow-mild-border-blur      : 2px;

$glow-strong-white-percent  : 60%;

$glow-strong-text-opacity   : 1.0;
$glow-strong-text-blur      : 3px;

$glow-strong-border-opacity : 0.6;
$glow-strong-border-blur    : 3px;

@mixin text-shadow-uniform()
{
    
}

@mixin Im-just-a-box($color)
{
    background: none;
    border: 1px solid $color;
    border-radius: 2px;
}

@mixin glow-idle-text($color)
{
    color: $color;
    text-shadow: 0 0 $glow-idle-text-blur rgba($color, $glow-idle-text-opacity);
    // text-shadow: 1px 1px 1px  rgba($color, 0.3),
    //             -1px -1px 1px rgba($color, 0.3);
}
@mixin glow-mild-text($color, $white-percent: $glow-mild-white-percent)
{
    color: mix(white, $color, $white-percent);
    text-shadow: 0px 0px $glow-mild-text-blur rgba(mix(white, $color, $white-percent), $glow-mild-text-opacity);
    // text-shadow: 1px  1px $glow-mild-text-blur rgba(mix(white, $color, $white-percent), $glow-mild-text-opacity),
    //             -1px -1px $glow-mild-text-blur rgba(mix(white, $color, $white-percent), $glow-mild-text-opacity);
}
@mixin glow-strong-text($color, $white-percent: $glow-strong-white-percent)
{
    color: mix(white, $color, $white-percent);
    text-shadow: 0px 0px $glow-strong-text-blur rgba(mix(white, $color, $white-percent), $glow-strong-text-opacity);
    // text-shadow: 1px  1px $glow-strong-text-blur rgba(mix(white, $color, $white-percent), $glow-strong-text-opacity),
    //             -1px -1px $glow-strong-text-blur rgba(mix(white, $color, $white-percent), $glow-strong-text-opacity);
}

@mixin glow-mild-border($color, $white-percent: $glow-mild-white-percent)
{
    border-color: mix(white, $color, $white-percent);
    box-shadow: inset   0 0 $glow-mild-border-blur 1px rgba(mix(white, $color, $white-percent), $glow-mild-border-opacity),
             /*outset*/ 0 0 $glow-mild-border-blur 1px rgba(mix(white, $color, $white-percent), $glow-mild-border-opacity);
}
@mixin glow-strong-border($color, $white-percent: $glow-strong-white-percent)
{
    border-color: mix(white, $color, $white-percent);
    box-shadow: inset   0 0 $glow-strong-border-blur 1px rgba(mix(white, $color, $white-percent), $glow-strong-border-opacity),
             /*outset*/ 0 0 $glow-strong-border-blur 1px rgba(mix(white, $color, $white-percent), $glow-strong-border-opacity);
}

html { width: 100%; }

body
{
    background-color: black;
    
    //color: $text-color;
    @include glow-idle-text($text-color);
    
    font-family: $font-family-bottom-level;
    
    width: 100%;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6
{
    font-weight: 500;
    line-height: 1.1;
}
.h1, .h2, .h3, h1, h2, h3
{
    font-family: $font-family-top-level;
}
.h4, .h5, .h6, h4, h5, h6
{
    font-family: $font-family-mid-level;
}
.h1, h1
{
    font-size: $font-size-h1;
}
.h2, h2
{
    font-size: $font-size-h2;
}
.h3, h3
{
    font-size: $font-size-h3;
}
.h4, h4
{
    font-size: $font-size-h4;
}
.h5, h5
{
    font-size: $font-size-h5;
    font-weight: 600;
}
.h6, h6
{
    font-size: $font-size-h6;
    font-weight: 700;
}

a
{
    //color: $link-color;
    @include glow-idle-text($link-color);
    
    &:hover, &:focus
    {
        @include glow-mild-text($link-color);
        text-decoration: none;
    }
    &:active
    {
        @include glow-strong-text($link-color);
    }
}

button, .button-ish
{
    @include Im-just-a-box($bttn-color);
    border-width: 2px;
    
    padding: 3px 6px;
    
    span
    {
        //color: $bttn-color;
        @include glow-idle-text($bttn-color);
        display: inline-block;
    }
    
    &:hover //, &:focus
    {
        @include glow-mild-border($bttn-color);
        
        span
        {
            @include glow-mild-text($bttn-color);
            // transform: scale(1.05, 1.05);
        }
    }
    
    &:active
    {
        @include glow-strong-border($bttn-color);
        
        padding: 3px 6px; // probably only necessary because of something bootstrap's doing...?
        
        span
        {
            @include glow-strong-text($bttn-color);
            // transform: scale(1.1, 1.1);
        }
    }
    
    &.selected
    {
        span
        {
            @include glow-strong-text($bttn-color);
            // transform: scale(1.1, 1.1);
        }
    }
}

label
{
    //color: $form-color;
    @include glow-idle-text($form-color);
}
label.label-focus
{
    @include glow-mild-text($form-color);
}
input[type="text"]
{
    //color: $form-color;
    @include glow-idle-text($form-color);
    // background: none;
    // border: 1px solid $form-color;
    // border-radius: 2px;
    @include Im-just-a-box($form-color);
    
    padding: 3px;
    
    //@include glow-mild-border($form-color);
    
    &:focus:not([readonly])
    {
        @include glow-mild-border($form-color);
        @include glow-mild-text($form-color);
    }
    &[readonly]
    {
        @include Im-just-a-box($text-color);
        @include glow-mild-border($text-color);
    }
}

// .flavor-error
// {
//     color: $error-color;
//     @include glow-idle-text($error-color);
// }
.box.flavor-error
{
    @include Im-just-a-box($error-color);
    border-style: double;
    border-width: 3px;
    @include glow-strong-border($error-color, 0%);
    
    color: $error-color;
    @include glow-strong-text($error-color, 0%);
    
    padding: 6px;
    width: 100%;
}

.box.flavor-blue
{
    //color: blue;
    @include Im-just-a-box(blue);
    
    @include glow-idle-text(blue);
}

.form-widget
{
    width: 100%;
}

//// Bootstrap-specific fixes
// .form-control
// {
//     color: $form-color;
// }

.center-text
{
    text-align: center;
}
