html 
{
  width: 100%;
}

body 
{
  background-color: black;
  color: white;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.6);
  font-family: Segoe UI, Frutiger, Helvetica Neue, Helvetica, DejaVu Sans, Arial, sans-serif;
  width: 100%;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 
{
  font-weight: 500;
  line-height: 1.1;
}

.h1, .h2, .h3, h1, h2, h3 
{
  font-family: Consolas, DejaVu Sans Mono, Bitstream Vera Sans Mono, Monaco, Liberation Mono, Lucida Console, Andale Mono, monospace;
}

.h4, .h5, .h6, h4, h5, h6 
{
  font-family: Corbel, Gill Sans, Gill Sans MT, Lucida Grande, Lucida Sans, Trebuchet MS, sans-serif;
}

.h1, h1 
{
  font-size: 36px;
}

.h2, h2 
{
  font-size: 30px;
}

.h3, h3 
{
  font-size: 24px;
}

.h4, h4 
{
  font-size: 18px;
}

.h5, h5 
{
  font-size: 16px;
  font-weight: 600;
}

.h6, h6 
{
  font-size: 14px;
  font-weight: 700;
}

a 
{
  color: #FFFF40;
  text-shadow: 0 0 1px rgba(255, 255, 64, 0.6);
}
a:hover, a:focus 
{
  color: #ffff8c;
  text-shadow: 0px 0px 2px rgba(255, 255, 140, 0.8);
  text-decoration: none;
}
a:active 
{
  color: #ffffb3;
  text-shadow: 0px 0px 3px #ffffb3;
}

button, .button-ish 
{
  background: none;
  border: 1px solid blue;
  border-radius: 2px;
  border-width: 2px;
  padding: 3px 6px;
}
button span, .button-ish span 
{
  color: blue;
  text-shadow: 0 0 1px rgba(0, 0, 255, 0.6);
  display: inline-block;
}
button:hover, .button-ish:hover 
{
  border-color: #6666ff;
  box-shadow: inset 0 0 2px 1px rgba(102, 102, 255, 0.4), 0 0 2px 1px rgba(102, 102, 255, 0.4);
}
button:hover span, .button-ish:hover span 
{
  color: #6666ff;
  text-shadow: 0px 0px 2px rgba(102, 102, 255, 0.8);
}
button:active, .button-ish:active 
{
  border-color: #9999ff;
  box-shadow: inset 0 0 3px 1px rgba(153, 153, 255, 0.6), 0 0 3px 1px rgba(153, 153, 255, 0.6);
  padding: 3px 6px;
}
button:active span, .button-ish:active span 
{
  color: #9999ff;
  text-shadow: 0px 0px 3px #9999ff;
}
button.selected span, .button-ish.selected span 
{
  color: #9999ff;
  text-shadow: 0px 0px 3px #9999ff;
}

label 
{
  color: #DDD;
  text-shadow: 0 0 1px rgba(221, 221, 221, 0.6);
}

label.label-focus 
{
  color: #ebebeb;
  text-shadow: 0px 0px 2px rgba(235, 235, 235, 0.8);
}

input[type="text"] 
{
  color: #DDD;
  text-shadow: 0 0 1px rgba(221, 221, 221, 0.6);
  background: none;
  border: 1px solid #DDD;
  border-radius: 2px;
  padding: 3px;
}
input[type="text"]:focus:not([readonly]) 
{
  border-color: #ebebeb;
  box-shadow: inset 0 0 2px 1px rgba(235, 235, 235, 0.4), 0 0 2px 1px rgba(235, 235, 235, 0.4);
  color: #ebebeb;
  text-shadow: 0px 0px 2px rgba(235, 235, 235, 0.8);
}
input[type="text"][readonly] 
{
  background: none;
  border: 1px solid white;
  border-radius: 2px;
  border-color: white;
  box-shadow: inset 0 0 2px 1px rgba(255, 255, 255, 0.4), 0 0 2px 1px rgba(255, 255, 255, 0.4);
}

.box.flavor-error 
{
  background: none;
  border: 1px solid red;
  border-radius: 2px;
  border-style: double;
  border-width: 3px;
  border-color: red;
  box-shadow: inset 0 0 3px 1px rgba(255, 0, 0, 0.6), 0 0 3px 1px rgba(255, 0, 0, 0.6);
  color: red;
  color: red;
  text-shadow: 0px 0px 3px red;
  padding: 6px;
  width: 100%;
}

.box.flavor-blue 
{
  background: none;
  border: 1px solid blue;
  border-radius: 2px;
  color: blue;
  text-shadow: 0 0 1px rgba(0, 0, 255, 0.6);
}

.form-widget 
{
  width: 100%;
}

.center-text 
{
  text-align: center;
}
