/* line 86, ../sass/arcane.scss */
html {
  width: 100%;
}

/* line 88, ../sass/arcane.scss */
body {
  background-color: black;
  color: white;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.6);
  font-family: Segoe UI, Frutiger, Dejavu Sans Condensed, Helvetica Neue, Helvetica, Arial, sans-serif;
  width: 100%;
}

/* line 100, ../sass/arcane.scss */
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  line-height: 1.1;
}

/* line 105, ../sass/arcane.scss */
.h1, .h2, .h3, h1, h2, h3 {
  font-family: DejaVu Sans Mono, Bitstream Vera Sans Mono, Consolas, Monaco, Liberation Mono, Lucida Console, Andale Mono, monospace;
}

/* line 109, ../sass/arcane.scss */
.h4, .h5, .h6, h4, h5, h6 {
  font-family: Corbel, Gill Sans MT, Gill Sans, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lato, Tahoma, sans-serif;
}

/* line 113, ../sass/arcane.scss */
.h1, h1 {
  font-size: 36px;
}

/* line 117, ../sass/arcane.scss */
.h2, h2 {
  font-size: 30px;
}

/* line 121, ../sass/arcane.scss */
.h3, h3 {
  font-size: 24x;
}

/* line 125, ../sass/arcane.scss */
.h4, h4 {
  font-size: 18px;
}

/* line 129, ../sass/arcane.scss */
.h5, h5 {
  font-size: 14px;
  font-weight: 600;
}

/* line 134, ../sass/arcane.scss */
.h6, h6 {
  font-size: 12px;
  font-weight: 700;
}

/* line 140, ../sass/arcane.scss */
a {
  color: #FFFF40;
  text-shadow: 0 0 1px rgba(255, 255, 64, 0.6);
}
/* line 145, ../sass/arcane.scss */
a:hover, a:focus {
  color: #ffff8c;
  text-shadow: 0px 0px 2px rgba(255, 255, 140, 0.8);
  text-decoration: none;
}
/* line 150, ../sass/arcane.scss */
a:active {
  color: #ffffb3;
  text-shadow: 0px 0px 3px #ffffb3;
}

/* line 156, ../sass/arcane.scss */
button, .button-ish {
  background: none;
  border: 1px solid blue;
  border-radius: 2px;
  border-width: 2px;
  padding: 3px 6px;
}
/* line 163, ../sass/arcane.scss */
button span, .button-ish span {
  color: blue;
  text-shadow: 0 0 1px rgba(0, 0, 255, 0.6);
  display: inline-block;
}
/* line 170, ../sass/arcane.scss */
button:hover, .button-ish:hover {
  border-color: #6666ff;
  box-shadow: inset 0 0 2px 1px rgba(102, 102, 255, 0.4), 0 0 2px 1px rgba(102, 102, 255, 0.4);
}
/* line 174, ../sass/arcane.scss */
button:hover span, .button-ish:hover span {
  color: #6666ff;
  text-shadow: 0px 0px 2px rgba(102, 102, 255, 0.8);
}
/* line 181, ../sass/arcane.scss */
button:active, .button-ish:active {
  border-color: #9999ff;
  box-shadow: inset 0 0 3px 1px rgba(153, 153, 255, 0.6), 0 0 3px 1px rgba(153, 153, 255, 0.6);
  padding: 3px 6px;
}
/* line 187, ../sass/arcane.scss */
button:active span, .button-ish:active span {
  color: #9999ff;
  text-shadow: 0px 0px 3px #9999ff;
}
/* line 196, ../sass/arcane.scss */
button.selected span, .button-ish.selected span {
  color: #9999ff;
  text-shadow: 0px 0px 3px #9999ff;
}

/* line 204, ../sass/arcane.scss */
label {
  color: #DDD;
  text-shadow: 0 0 1px rgba(221, 221, 221, 0.6);
}

/* line 209, ../sass/arcane.scss */
label.label-focus {
  color: #ebebeb;
  text-shadow: 0px 0px 2px rgba(235, 235, 235, 0.8);
}

/* line 213, ../sass/arcane.scss */
input[type="text"] {
  color: #DDD;
  text-shadow: 0 0 1px rgba(221, 221, 221, 0.6);
  background: none;
  border: 1px solid #DDD;
  border-radius: 2px;
  padding: 3px;
}
/* line 226, ../sass/arcane.scss */
input[type="text"]:focus:not([readonly]) {
  border-color: #ebebeb;
  box-shadow: inset 0 0 2px 1px rgba(235, 235, 235, 0.4), 0 0 2px 1px rgba(235, 235, 235, 0.4);
  color: #ebebeb;
  text-shadow: 0px 0px 2px rgba(235, 235, 235, 0.8);
}
/* line 231, ../sass/arcane.scss */
input[type="text"][readonly] {
  background: none;
  border: 1px solid white;
  border-radius: 2px;
  border-color: white;
  box-shadow: inset 0 0 2px 1px rgba(255, 255, 255, 0.4), 0 0 2px 1px rgba(255, 255, 255, 0.4);
}

/* line 243, ../sass/arcane.scss */
.box.flavor-error {
  background: none;
  border: 1px solid red;
  border-radius: 2px;
  border-style: double;
  border-width: 3px;
  border-color: red;
  box-shadow: inset 0 0 3px 1px rgba(255, 0, 0, 0.6), 0 0 3px 1px rgba(255, 0, 0, 0.6);
  color: red;
  color: red;
  text-shadow: 0px 0px 3px red;
  padding: 6px;
  width: 100%;
}

/* line 257, ../sass/arcane.scss */
.box.flavor-blue {
  background: none;
  border: 1px solid blue;
  border-radius: 2px;
  color: blue;
  text-shadow: 0 0 1px rgba(0, 0, 255, 0.6);
}

/* line 265, ../sass/arcane.scss */
.form-widget {
  width: 100%;
}

/* line 276, ../sass/arcane.scss */
.center-text {
  text-align: center;
}
